{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/task_list.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <title>To-Do List</title>
</head>

<body>
    <h1 class="container">To-Do List</h1>

    <!--Create Task-->
    <div class="create_task  mb-3 container form-group ">
        <form method='post' action="{% url 'add_task' %}">
            {% csrf_token %}
            <input type="text" name="title" class="form-control" placeholder="Title" required>
            <br>

            <textarea name="description" class="form-control" placeholder="Description"></textarea>
            <br>

            <select name="priority" class="form-select">
                <option value="L" selected>Low</option>
                <option value="M">Medium</option>
                <option value="T">Top</option>
            </select>
            <br>
            <button type="submit" value="submit" class="btn btn-primary form-control">Add</button>
        </form>
    </div>
    <br>

    <!--Show Tsks-->
    {% for task in tasks %}
    <div class="show_task form-group mb-3 container ">
        <form action="{% url 'update_task' task.id%}" method="post">

            {% csrf_token %}
            <!--Title-->
            <input type="text" name="title" value={{task.title}} class="form-control" required>
            <br>
            <!--description-->
            <textarea name="description" class="form-control">{{task.description}}</textarea>
            <br>

            <!--priority-->
            {% if task.priority == 'L' %}
            <select name="priority" class="form-select">
                <option value="L" selected>Low</option>
                <option value="M">Medium</option>
                <option value="T">Top</option>
            </select>

            {% elif task.priority == 'M' %}
            <select name="priority" class="form-select">
                <option value="L">Low</option>
                <option value="M" selected>Medium</option>
                <option value="T">Top</option>
            </select>

            {% elif task.priority == 'T' %}
            <select name="priority" class="form-select">
                <option value="L">Low</option>
                <option value="M">Medium</option>
                <option value="T" selected>Top</option>
            </select>

            {% endif %}
            <br>

            <div class="row">
                <div class="col-lg-2">
                    <p>Is completed?</p>
                </div>

                {% if task.completed %}
                <!--Yes Selected-->
                <div class="col-lg-2">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="Yes" name="completed" value="True" checked>
                        <label class="form-check-label" for="Yes">
                            Yes
                        </label>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="No" name="completed" value="False">
                        <label class="form-check-label" for="No">
                            No
                        </label>
                    </div>
                </div>


                {% else %}
                <!--No Selected-->
                <div class="col-lg-2">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="Yes" name="completed" value="True">
                        <label class="form-check-label" for="Yes">
                            Yes
                        </label>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="No" name="completed" value="False" checked>
                        <label class="form-check-label" for="No">
                            No
                        </label>
                    </div>
                </div>

                {% endif %}
            </div>
            <div class="row">

                <!--Update-->
                <div class="col-sm">
                    <button type="submit" class="btn btn-success form-control">Update</button>
                </div>
                <!--Delete-->
                <div class="col-sm">
                    <a href="{% url 'delete_task' task.id %}">
                        <button type="button" class="btn btn-danger form-control">Delete</button>
                    </a>
                </div>
                <div class="col-sm">
                    <em>Create at: {{task.create_at}}</em>
                </div>
                <div class="col-sm">
                    <em>last update: {{task.last_update}}</em>
                </div>
            </div>
        </form>
    </div>
    <br>
    {%empty%}
    <p id="NoTaskYet" class="container">No Task Yet</p>
    {% endfor %}


</body>

</html>